 <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script src="{{ 'slick.js' | asset_url }}" defer="defer"></script>

{% style %}
#shopify-section-{{ section.id }} {
	background-color: {{ section.settings.bg }};
    padding: 50px 0;
}


.review-title {
padding: 0px 20px; text-align: center; text-transform: none; font-size: 48px; line-height: 48px; ; margin: 0;
    color: {{ section.settings.titlecolor }};
}

.review-slider .slick-track {
	padding: 15px 0px!important;
}

.slider-card {
	margin: 0 10px;
	padding: 10px;
	background-color: white;	
	border: 1px solid #FD7E7E;
}

.slider-card.img-contain {
	padding: 0;
}

.slider-card:focus, .slick-arrow:focus {
	outline: none;
}

.card-header {
	    display: block;
    text-align: center;
}

.card-name h3, .card-title h3 {
	margin:0;
}

.card-name h3 {
	font-size: 16px;
}



.card-verified {
	margin: 0px 6px;
    background: #FD7E7E;
    padding: 2px 6px;
    border-radius: 2px;
    color: white;
    font-size: 11px;
    font-weight: 800;
}

.card-title {
    font-size: 10px;
    padding: 10px 10px 0px 10px;
}

.trustpilot {
max-width: 150px;
    margin-top: 10px;
padding-left: 10px;
}



.slick-prev, .slick-next {
    z-index: 4;
    background: #000000ab;
    width: 70px;
    height: 70px;
    border-radius: 54px;
}

 @media screen and (max-width: 590px) {
.slick-next, .slick-prev {
 width: 50px;
    height: 50px; 

 }
}

.slick-prev {
	left: 20px;
}

.slick-next {
    right: 20px;
}

.slick-prev:before {
	content: "";
    position: absolute;
    width: 34px;
    height: 34px;
    border-left: 3px solid #fff;
    display: inline-block;
    border-top: 3px solid #fff;
    transform: rotate(-45deg);
    top: 18px;
    left: 23px;
	color: white;
}

.slick-next:before {
	content: "";
    position: absolute;
    width: 34px;
    height: 34px;
    border-right: 3px solid #fff;
    display: inline-block;
    border-top: 3px solid #fff;
    transform: rotate(45deg);
    top: 18px;
    right: 25px;
}

@media screen and (max-width: 590px) {
.slick-prev:before  {
    width: 20px;
    height: 20px;
    top: 15px;
    left: 20px;
}
}


@media screen and (max-width: 590px) {
.slick-next:before  {
    width: 20px;
    height: 20px;
    top: 15px;
    right: 20px;
   
}
}



.slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus {
    transition: .2s ease-in-out;
    background: #00000059;
    color: #ffffff00;
}



{% endstyle %}
<div class="mainrevewsli">
<div class="page-contain">
  
    <h2 class="review-title">{{ section.settings.sectionname }}</h2>
   {{ section.settings.caption }}
</div>
<div class="reviewslidernain">



  
  
  <div class="review-slider">

    {% for block in section.blocks %}
	<div>
   	  <div class="slider-card img-contain">

<div class="img-titlemain">
           {% if block.settings.imagee != blank %}
                  <style>
                    .hero__image--{{ block.id }} {
                      object-position: {{ block.settings.focal_point }};
                      font-family: "object-fit: cover; object-position: {{ block.settings.focal_point }};";
                    }
                  </style>
<img class="reviewslideimg hero__image hero__image--{{ block.id }} lazyload"
                    src="{{ block.settings.imagee | img_url: '300x' }}"
                    data-src="{{ img_url }}"
                    data-aspectratio="{{ block.settings.imagee.aspect_ratio }}"
                    data-sizes="auto"
                    data-parent-fit="cover"
                    alt="{{ block.settings.imagee.alt | escape }}">
                  <noscript>
                    <img class="hero__image hero__image--{{ block.id }}"
                      src="{{ block.settings.imagee | img_url: '1400x' }}"
                      alt="{{ block.settings.imagee.alt | escape }}">
                  </noscript>
                {% else %}
                  {{ 'lifestyle-1' | placeholder_svg_tag: 'placeholder-svg' }}
                {% endif %}

    
  
</div>
        
  <div class="card-content" >
          {{ block.settings.content }}
        </div>
        
         <div class="card-header">



  {% if block.settings.image != blank %}
                  <style>
                    .hero__image--{{ block.id }} {
                      object-position: {{ block.settings.focal_point }};
                      font-family: "object-fit: cover; object-position: {{ block.settings.focal_point }};";
                    }
                  </style>
<img class="reviewstar hero__image hero__image--{{ block.id }} lazyload"
                    src="{{ block.settings.image | img_url: '300x' }}"
                    data-src="{{ img_url }}"
                    data-aspectratio="{{ block.settings.image.aspect_ratio }}"
                    data-sizes="auto"
                    data-parent-fit="cover"
                    alt="{{ block.settings.image.alt | escape }}">
                  <noscript>
                    <img class="hero__image hero__image--{{ block.id }}"
                      src="{{ block.settings.image | img_url: '1400x' }}"
                      alt="{{ block.settings.image.alt | escape }}">
                  </noscript>
                {% else %}
                  {{ 'lifestyle-1' | placeholder_svg_tag: 'placeholder-svg' }}
                {% endif %}
           

           
          <div class="card-name">
            <h3>{{ block.settings.name }}</h3>
          </div>
          
        </div>

        
        
       
      
      </div>
    </div>
    {% endfor %}

  </div>
</div>
</div>



  
{% schema %}
{
  "name": "Review Slider",
  "settings": [
    {
      "type": "text",
      "id": "sectionname",
      "label": "Title",
      "default": "+500,000 utilisateurs actifs dans le monde"
    },
     {
          "type": "richtext",
          "id": "caption",
          "default": "<p>Pair text with an image to focus on your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>",
          "label": "t:sections.image-with-text.blocks.text.settings.text.label"
        },
	{
       "type": "color",
       "id": "titlecolor",
       "label": "title color",
       "default": "#000000"
    },
	{
       "type": "color",
       "id": "bg",
       "label": "color bg",
       "default": "#ffffff"
    }
  ],
  "blocks": [
    {
      "type": "review",
      "name": "review",
      "settings": [
		{
          "type": "image_picker",
          "id": "imagee",
          "label": "Image review"
        },
		{
			"type": "text",
			"id": "title",
			"label": "Title review",
			"default": "Très bon produit"
		},
       
		
		{
			"type": "richtext",
			"id": "content",
			"label": "Content",
			"default": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id velit maximus, porttitor enim eget, aliquet libero. In eu porttitor est, in sodales dui. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae;</p>"
		},
         {
          "type": "image_picker",
          "id": "image",
          "label": "Star review"
        },
		{
			"type": "text",
			"id": "name",
			"label": "Name Auther",
			"default": "JOHN.B"
		}
      ]
    }
  ],
  "presets": [
    {
      "name": "REVIEW SLIDER",
      "category": "avis"
    }
  ]
}
{% endschema %}
